{% extends '!footer.html' %}

{% block extrafooter %}
{{ super() }}
<div style="clear: both;"></div>
<a href="https://docs.oxid-esales.com/de/" title="OXID docs"><img alt="OXID docs" src="{{ pathto('_images/home.png',1) }}"> OXID docs</a> | <a title="Impressum" href="https://www.oxid-esales.com/impressum/">Impressum</a> | <a title="Datenschutz" href="https://www.oxid-esales.com/datenschutz/">Datenschutz</a> | <a title="Kontakt" href="https://www.oxid-esales.com/kontakt/">Kontakt</a>
{% endblock %}